name: react-native-square-reader-SDK
on: [push]
jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14.x
      - run: |
          yarn && yarn lint && yarn test && cd reader-sdk-react-native-quickstart && yarn
          yarn lint && cd ..
  # build-android:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Cache Gradle Wrapper
  #       uses: actions/cache@v3
  #       with:
  #         path: ~/.gradle/wrapper
  #         key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
  #     - name: Cache Gradle Dependencies
  #       uses: actions/cache@v3
  #       with:
  #         path: ~/.gradle/caches
  #         key: ${{ runner.os }}-gradle-caches-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
  #         restore-keys: |
  #           ${{ runner.os }}-gradle-caches-
  #     - name: Checkout the current repo
  #       uses: actions/checkout@v3
  #     - name: Install npm dependencies
  #       working-directory: ./reader-sdk-react-native-quickstart
  #       run: yarn
  #     - name: Build
  #       working-directory: ./reader-sdk-react-native-quickstart/android
  #       env:
  #         SQUARE_READER_SDK_APPLICATION_ID: ${{secrets.SQUARE_READER_SDK_APPLICATION_ID}}
  #         SQUARE_READER_SDK_REPOSITORY_PASSWORD: ${{secrets.SQUARE_READER_SDK_REPOSITORY_PASSWORD}}
  #       run: |
  #         ./gradlew clean build -PSQUARE_READER_SDK_APPLICATION_ID=$SQUARE_READER_SDK_APPLICATION_ID -PSQUARE_READER_SDK_REPOSITORY_PASSWORD=$SQUARE_READER_SDK_REPOSITORY_PASSWORD
  build-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
          SQUARE_READER_SDK_APPLICATION_ID: ${{secrets.SQUARE_READER_SDK_APPLICATION_ID}}
          SQUARE_READER_SDK_REPOSITORY_PASSWORD: ${{secrets.SQUARE_READER_SDK_REPOSITORY_PASSWORD}}
        env:
          SQUARE_READER_SDK_APPLICATION_ID: ${{secrets.SQUARE_READER_SDK_APPLICATION_ID}}
          SQUARE_READER_SDK_REPOSITORY_PASSWORD: ${{secrets.SQUARE_READER_SDK_REPOSITORY_PASSWORD}}
      - run: |
          echo "Application Id: ${{secrets.SQUARE_READER_SDK_APPLICATION_ID}}"
          sudo arch -x86_64 gem install ffi
          cd reader-sdk-react-native-quickstart
          yarn
          cd ios && arch -x86_64 pod install
          ruby <(curl https://connect.squareup.com/readersdk-installer) install --app-id ${{secrets.SQUARE_READER_SDK_APPLICATION_ID}} --repo-password ${{secrets.SQUARE_READER_SDK_REPOSITORY_PASSWORD}}
      - name: Build iOS (debug)
        run: xcodebuild -workspace reader-sdk-react-native-quickstart/ios/RNReaderSDKSample.xcworkspace 
             -project RNReaderSDKSample
             -scheme RNReaderSDKSample
             -destination 'platform=iOS Simulator,id=D6FA2C2A-E297-406A-AA22-624B4834ACB2'
